.spesialisasi-title h5 {
  font-weight: bold;
}

.spesialisasi .row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  row-gap: 10px;
}

.spesialisasi-card {
  text-align: center;
}

.spesialisasi-card img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  justify-content: space-between;
}

.spesialisasi-card p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  align-items: center;
}

.spesialisasi-card img:hover {
  cursor: pointer;
}
